<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{define "index"}}
    <h2>投稿内容</h2>
    <form method="post" action="/insert">
        <div>
            <input type="text" name="title">
        </div>
        <div>
            <textarea name="contents"></textarea>
        </div>
        <input type="submit" value="投稿">
    </form>
    {{range .}}
        <p>{{.Title}}<b>{{.Content}}</b></p>
        <p>{{.CreatedAt}}</p>
        <form method="post" action="/delete">
            <div>
                <input type="hidden" name="deleteId" value="{{.Id}}">
            </div>
            <input type="submit" value="削除">
        </form>
        <form method="post" action="/edit">
            <div>
                <input type="hidden" name="editId" value="{{.Id}}">
            </div>
            <input type="submit" value="編集">
        </form>
    {{end}}
{{end}}
</body>
</html>